# requirements for the LLM games
openai
anthropic
google.generativeai
google-cloud-aiplatform
vertexai
pandas
wandb
litellm
joblib
streamlit
matplotlib
statsmodels
seaborn
Levenshtein
scikit-learn
shap
catboost
xgboost
tqdm
patsy


# additional requirements for the human data collection app:
# otree
# psycopg2
# sentry-sdk
#
# additional requirement for the create_otree_configs.py script and the connection to the mturk requester:
# boto3
