export OPENAI_API_KEY="Enter your OpenAI API key here"
export XAI_API_KEY="Enter your XAI API key here"
export GOOGLE_APPLICATION_CREDENTIALS=litellm/google_key.json
export LITELLM_CONFIG_PATH=litellm/model_config.yaml

# litellm --config litellm/model_config.yaml